* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body_background-color: #F1F1F3;
    --section-title-font-color: rgba(14, 14, 14, 1);
    --section-title-font-size: 40px;
    --section-title-font-weight: 700;
    --card-title-color: rgba(14, 14, 14, 0.8);
    --card-title-font-size: 20px;
    --card-title-font-weight: 700;
    --card-description-font-color: rgba(14, 14, 14, 0.7);
    --card-description-font-size: 16px;
    --card-description-font-weight: 400;
    --button-text-color: rgb(255, 255, 255);
    --button-background-color: rgb(0, 106, 80);
    --button-font-size: 18px;
    --button-border-radious: 8px;
    --card_1-button-background-color: rgb(84, 144, 245);
    --card_2-button-background-color: rgb(9, 161, 92);
    --card_3-button-background-color: rgb(255, 194, 57);
    --card-button-font-size: 16px;
    --card_1-background: rgba(84, 144, 245, 0.2);
    --card_2-background: rgb(198, 228, 214);
    --card_3-background: rgb(247, 235, 207);
    --card-border-radius: 16px;
    --oponion-bg: rgb(198, 228, 214);


}

body {
    font-family: "Fira Sans", serif;
    max-width: 100vw;
    background-color: var(--body_background-color);
    padding: 0px 160px;
}

/* Title Text Common Property ================================================>*/
.title {
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
    color: var(--section-title-font-color);
    margin-bottom: 32px;
    margin-top: 80px;
}

/* Common Section Dicleration End Now Main Design Start=====================================================================================> */


/* Navigation Menu Design Start==============================================> */
nav {
    margin: 24px auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
}

nav ul li a {
    font-size: 32px;
    font-weight: 700;
    color: var(--section-title-font-color);
}

nav ul li button a {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
}

nav ul li button {
    padding: 15px 30px;
    border-radius: var(--button-border-radious);
    border: 1px solid rgb(0, 106, 80);
}


/* banner Section Design Start================================================> */

.banner_section {
    background-color: var(--card_2-background);
    padding: 80px 60px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_section .banner_content h3 {

    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;

}

.banner_section .banner_content h1 {

    color: var(--section-title-font-color);
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 24px;

}

.banner_section .banner_content button {

    padding: 17px 34px;
    font-size: var(--button-font-size);
    background-color: var(--button-background-color);
    border-radius: var(--button-border-radious);
    border: none;
}

.banner_section .banner_content button a {

    text-decoration: none;
    color: var(--button-text-color);

}

/* Pillar Section Design Start=========================================================> */

.card_section {

    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-direction: row;

}

.card {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
}

.card img {
    margin-bottom: 24px;
}

.card h4 {
    color: var(--card-title-color);
    font-size: var(--card-title-font-size);
    font-weight: var(--card-title-font-weight);
    margin-bottom: 12px;
}

.card p {
    color: var(--card-description-font-color);
    font-size: var(--card-description-font-size);
    font-weight: var(--card-description-font-weight);
    line-height: 24px;
}

/* Future Section Design Start============================================================> */

.future_card {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.future_section p {
    margin-bottom: 32px;
    font-weight: var(--card-description-font-weight);
    font-size: var(--card-description-font-size);
    color: var(--card-description-font-color);
    line-height: 24px;
}

.v-card {
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 32px;
}

.v-card p {
    font-size: var(--card-description-font-size);
    font-weight: var(--card-description-font-weight);
    color: var(--card-description-font-color);
    line-height: 24px;
}

.v-card h4 {
    margin-top: 34px;
    margin-bottom: 12px;
    font-size: var(--card-title-font-size);
    font-weight: var(--card-title-font-weight);
    color: var(--card-title-color);
}

.card_1 {
    background: var(--card_1-background);
}

.card_2 {
    background: var(--card_2-background);
}

.card_3 {
    background: var(--card_3-background);
}

.v-card>button>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--button-text-color);
}

.v-card>button {
    padding: 11px 20px;
    border-radius: var(--button-border-radious);
    border: none;
}

.v-card .bt-1 {
    background-color: var(--card_1-button-background-color);
}

.v-card .bt-2 {
    background-color: var(--card_2-button-background-color);
}

.v-card .bt-3 {
    background-color: var(--card_3-button-background-color);
}

/* Doctor Yunus Section Description Section Design Start=========================================================> */
.yunus_section {
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: var(--card-border-radius);
    background: var(--button-text-color);
    margin-top: 32px;
    margin-bottom: 80px;
    background-image: url(assets/quote-bg.png);
    background-position: 32px 32px;
    background-repeat: no-repeat;
}

.yunus_section p {
    color: var(--card-title-color);
    font-size: var(--card-description-font-size);
    font-weight: var(--card-description-font-weight);
    line-height: 24px;
}



.yunus_section h2 {
    margin-top: 12px;
    margin-bottom: 4px;
}

/* Feedback Section Design Start============================================================> */

.opinion_section {
    padding: 32px;
    background-color: var(--button-text-color);
    border-radius: 16px;
    margin-top: 32px;
}


.opinion_section table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--button-text-color);

}

.opinion_section table th,
.opinion_section table td {
    padding: 16px;
    text-align: left;
    border: 1px solid rgba(14, 14, 14, 0.15);
    font-size: 16px;
    font-weight: 600;
}

.opinion_section table td:nth-child(1) {
    width: 85%;
}

.opinion_section table td:nth-child(2) {
    width: 15%;
}

.opinion_section table th {
    background-color: var(--card_2-background);
    font-size: 20px;
    font-weight: 600;
}

.opinion_section table th:nth-child(1) {

    border-right: none;

}

.opinion_section table th:nth-child(2) {

    text-align: right;
    border-left: none;

}


.opinion_section select {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 4px;
    background-color: var(--card_2-background);
    font-size: 16px;
    font-weight: 500;
}


/* Recente News Section Design start===========================================================================> */
.recent_news p {
    color: var(--card-description-font-color);
    font-size: var(--card-description-font-size);
    font-weight: var(--card-description-font-weight);
    line-height: 24px;
    margin-bottom: 32px;
}

/* News Card Section Design Start=============================================================================> */

.news_section .box {
    padding: 48px;
    background-color: var(--button-text-color);
    border-radius: var(--card-border-radius);
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

}

.box .content h3 {
    font-size: 32px;
    font-weight: 700;
}

.box .content .time{
    color: var(--card-description-font-color);
    font-weight: var(--card-description-font-weight);
    font-size: var(--card-description-font-size);
    line-height: 24px;
    margin: 12px auto;
}


.box .content .desc {
    color: var(--card-description-font-color);
    font-weight: var(--card-description-font-weight);
    font-size: var(--card-description-font-size);
    line-height: 24px;
    margin-bottom: 32px;
}
.box .content img {
    margin: 12px auto;
}

.news_section .box .picture img {
    border-radius: var(--card-border-radius);

}

.box button a{
    text-decoration: none;
    font-size: var(--button-font-size);
    color: var(--button-text-color);
    font-weight: 600;
}

.box button{
    padding: 13px 26px;
    background-color: var(--button-background-color);
    border-radius: var(--button-border-radious);
    border: none;
}

.news_card2{
    flex-direction: row-reverse;
}