* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body_background-color: #F1F1F3;
    --section-title-font-color: rgba(14, 14, 14, 1);
    --section-title-font-size: 40px;
    --section-title-font-weight: 700;
    --card-title-color: rgba(14, 14, 14, 0.8);
    --card-title-font-size: 20px;
    --card-title-font-weight: 700;
    --card-description-font-color: rgba(14, 14, 14, 0.7);
    --card-description-font-size: 16px;
    --card-description-font-weight: 400;
    --button-text-color: rgb(255, 255, 255);
    --button-background-color: rgb(0, 106, 80);
    --button-font-size: 18px;
    --button-border-radious: 8px;
    --card_1-button-background-color: rgb(84, 144, 245);
    --card_2-button-background-color: rgb(9, 161, 92);
    --card_3-button-background-color: rgb(255, 194, 57);
    --card-button-font-size: 16px;
    --card_1-background: rgba(84, 144, 245, 0.2);
    --card_2-background: rgb(198, 228, 214);
    --card_3-background: rgb(247, 235, 207);
    --card-border-radius: 16px;
    --oponion-bg: rgb(198, 228, 214);


}

body {
    font-family: "Fira Sans", serif;


}

header,
main {
    max-width: 100vw;
    background-color: var(--body_background-color);
    padding: 0px 160px;
}

main {
    padding-bottom: 80px;
}

/* Title Text Common Property ================================================>*/
.title {
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
    color: var(--section-title-font-color);
    margin-bottom: 32px;
    padding-top: 80px;
    cursor: pointer;
}


/* Common Section Dicleration End Now Main Design Start=====================================================================================> */


/* Navigation Menu Design Start==============================================> */
nav {
    margin: 0 auto;
    padding: 24px 0px;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
}

nav ul li a {
    font-size: 32px;
    font-weight: 700;
    color: var(--section-title-font-color);
}

nav ul li button {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
}

nav ul li button {
    padding: 15px 30px;
    border-radius: var(--button-border-radious);
    border: 1px solid rgb(0, 106, 80);
    
}


/* banner Section Design Start================================================> */

.banner_section {
    background-color: var(--card_2-background);
    padding: 80px 60px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_section .banner_content h3 {

    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;

}

.banner_section .banner_content h1 {

    color: var(--section-title-font-color);
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 24px;

}

.banner_section .banner_content button {

    padding: 17px 34px;
    font-size: var(--button-font-size);
    background-color: var(--button-background-color);
    border-radius: var(--button-border-radious);
    border: none;
}

.banner_section .banner_content button a {

    text-decoration: none;
    color: var(--button-text-color);

}

/* Pillar Section Design Start=========================================================> */

.card_section {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-direction: row;

}

.card {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
    transition: 0.1s;
}

.card img {
    margin-bottom: 24px;
}

.card h4 {
    color: var(--card-title-color);
    font-size: var(--card-title-font-size);
    font-weight: var(--card-title-font-weight);
    margin-bottom: 12px;
}

.card p {
    color: var(--card-description-font-color);
    font-size: var(--card-description-font-size);
    font-weight: var(--card-description-font-weight);
    line-height: 24px;
}

/* Future Section Design Start============================================================> */

.future_card {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.future_section p {
    margin-bottom: 32px;
    font-weight: var(--card-description-font-weight);
    font-size: var(--card-description-font-size);
    color: var(--card-description-font-color);
    line-height: 24px;
}

.v-card {
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 32px;
    transition: 0.1s;
}

.v-card p {
    font-size: var(--card-description-font-size);
    font-weight: var(--card-description-font-weight);
    color: var(--card-description-font-color);
    line-height: 24px;
}

.v-card h4 {
    margin-top: 34px;
    margin-bottom: 12px;
    font-size: var(--card-title-font-size);
    font-weight: var(--card-title-font-weight);
    color: var(--card-title-color);
}

.card_1 {
    background: var(--card_1-background);
}

.card_2 {
    background: var(--card_2-background);
}

.card_3 {
    background: var(--card_3-background);
}

.v-card>button>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--button-text-color);
}

.v-card>button {
    padding: 11px 20px;
    border-radius: var(--button-border-radious);
    border: none;
}

.v-card .bt-1 {
    background-color: var(--card_1-button-background-color);
}

.v-card .bt-2 {
    background-color: var(--card_2-button-background-color);
}

.v-card .bt-3 {
    background-color: var(--card_3-button-background-color);
}

/* Doctor Yunus Section Description Section Design Start=========================================================> */
.yunus_section {
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: var(--card-border-radius);
    background: var(--button-text-color);
    margin-top: 32px;
    margin-bottom: 80px;
    background-image: url(assets/quote-bg.png);
    background-position: 32px 32px;
    background-repeat: no-repeat;
}

.yunus_section p {
    color: var(--card-title-color);
    font-size: var(--card-description-font-size);
    font-weight: var(--card-description-font-weight);
    line-height: 24px;
}



.yunus_section h2 {
    margin-top: 12px;
    margin-bottom: 4px;
}

/* Feedback Section Design Start============================================================> */

.opinion_section {
    padding: 32px;
    background-color: var(--button-text-color);
    border-radius: 16px;
    margin-top: 32px;
}


.opinion_section table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--button-text-color);

}

.opinion_section table th,
.opinion_section table td {
    padding: 16px;
    text-align: left;
    border: 1px solid rgba(14, 14, 14, 0.15);
    font-size: 16px;
    font-weight: 600;
}

.opinion_section table td:nth-child(1) {
    width: 85%;
}

.opinion_section table td:nth-child(2) {
    width: 15%;
}

.opinion_section table th {
    background-color: var(--card_2-background);
    font-size: 20px;
    font-weight: 600;
}

.opinion_section table th:nth-child(1) {

    border-right: none;

}

.opinion_section table th:nth-child(2) {

    text-align: right;
    border-left: none;

}


.opinion_section select {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 4px;
    background-color: var(--card_2-background);
    font-size: 16px;
    font-weight: 500;
}


/* Recente News Section Design start===========================================================================> */
.recent_news p {
    color: var(--card-description-font-color);
    font-size: var(--card-description-font-size);
    font-weight: var(--card-description-font-weight);
    line-height: 24px;
    margin-bottom: 32px;
}

/* News Card Section Design Start=============================================================================> */

.news_section .box {
    padding: 48px;
    background-color: var(--button-text-color);
    border-radius: var(--card-border-radius);
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    transition: 0.2s;

}

.box .content h3 {
    font-size: 32px;
    font-weight: 700;
}

.box .content .time {
    color: var(--card-description-font-color);
    font-weight: var(--card-description-font-weight);
    font-size: var(--card-description-font-size);
    line-height: 24px;
    margin: 12px auto;
}


.box .content .desc {
    color: var(--card-description-font-color);
    font-weight: var(--card-description-font-weight);
    font-size: var(--card-description-font-size);
    line-height: 24px;
    margin-bottom: 32px;
}

.box .content img {
    margin: 12px auto;
}

.news_section .box .picture img {
    border-radius: var(--card-border-radius);
    transition: 0.2s;

}

.box button a {
    padding: 13px 26px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: var(--button-font-size);
    color: var(--button-text-color);
    font-weight: 600;
}

.box button{
   
    background-color: var(--button-background-color);
    border-radius: var(--button-border-radious);
    border: none;
}

.news_card2 {
    flex-direction: row-reverse;
}

/* Donate Section Design Start===================================================> */

.dontate_section h3 {

    text-align: center;
}

.dontate_section>p {
    color: var(--card-description-font-color);
    font-weight: var(--card-description-font-weight);
    font-size: var(--card-description-font-size);
    line-height: 24px;
    margin-bottom: 32px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.amount_card {
    display: flex;
    justify-content: space-between;
    margin: 32px 105px;
}

.amount_card .amount {
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.amount_card .amount h4 {
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
    color: var(--card-title-color);
}

.amount_card .amount_2 {
    background-color: var(--card_2-background);
}

.dontate_section .get_amount {
    margin: 0px 124px 32px;
}

.dontate_section .get_amount input {
    width: 100%;
    padding: 20px 40px;
    text-align: center;
    border: none;
    outline: none;
    color: var(--card-title-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}

.dontate_section button {
    display: block;
    margin: 0 auto;
    background-color: var(--button-background-color);
    border-radius: var(--button-border-radious);
    border: none;
}

.dontate_section button a {
    display: inline-block;
    text-decoration: none;
    color: var(--button-text-color);
    font-size: var(--button-font-size);
    font-weight: 600;
    padding: 17px 34px;

}

/* Newsletter Section Design Start==============================================================> */

.newsletter_section {
    margin-top: 80px;
    background-color: var(--card_2-background);
    padding: 80px 100px;
    border-radius: var(--card-border-radius);
}

.newsletter_section h3 {
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
    color: var(--section-title-font-color);
    text-align: center;
}

.newsletter_section p {
    text-align: center;
    color: var(--card-description-font-color);
    font-weight: var(--card-description-font-weight);
    font-size: var(--card-description-font-size);
    line-height: 24px;
    text-align: center;
    margin: 24px;
}

.newsletter_section .get_email {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.newsletter_section .get_email input[type="text"] {

    width: 50%;
    padding: 18px 40px;
    color: var(--card-title-color);
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.newsletter_section .get_email input[type="button"] {

    width: 15%;
    padding: 17px 34px;
    color: var(--button-text-color);
    font-size: var(--button-font-size);
    font-weight: 600;
    outline: none;
    border: none;
    background-color: var(--button-background-color);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

/* Footer Section Design start=================================================> */

footer {
    width: 100%;
    background-color: white;
    padding: 50px 150px;
}

footer h3 {
    font-size: 32px;
    text-align: center;
}

footer hr {
    margin: 0px 80px;
    stroke: rgba(14, 14, 14, 0.1);
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding-top: 32px;
    padding-bottom: 50px;
}

footer ul li {
    list-style-type: none;
}

/* All Design Complete ================================================================================================================> */
/* All Design Complete ================================================================================================================> */

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--button-background-color);
    border-radius: 5px;
}


/*  Now Adding Hover Effect on Element ==========================================================================================>*/

nav ul li button:hover {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
}

.banner_section .banner_content button:hover{
    background-color: orangered;
    
}

.card:hover{
    scale: 1.05;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(242, 247, 0, 0.3);
}


.card_1:hover{
    transform: translateY(-8px);
    box-shadow: 0px 0px 10px var(--card_1-button-background-color);
}
.card_2:hover{
    transform: translateY(-8px);
    box-shadow: 0px 0px 10px var(--card_2-button-background-color) ;
}
.card_3:hover{
    transform: translateY(-8px);
    box-shadow: 0px 0px 10px var(--card_3-button-background-color);
}

.box:hover{
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(14, 14, 14, 0.25);
    scale:1.02;
}

.box button :hover{
    background-color: orangered;
    border-radius: var(--button-border-radious);
}

.amount:hover{
    background-color: var(--card_2-background);
    cursor: pointer;
}

.donate_button:hover{
    background-color: orangered;
    cursor: pointer;
}

.newsletter_section .get_email input[type="button"]:hover{
    background-color: orangered;
    cursor: pointer;
}
.focus:focus{
    border-color: var(--button-background-color); 
    box-shadow: 0 0 8px var(--button-background-color); 
    
}

footer ul li img:hover{
    scale: 1.10;
    cursor: pointer;
}
footer ul li img:nth-child(1):hover{
    
}
footer ul li img:nth-child(2):hover{
    
}

footer ul li img:nth-child(3):hover{
    
}

.cover_focus:hover{
    scale: 1.03;
    box-shadow: 0px 0px 10px rgba(14, 14, 14, 0.50);
}

.content h3:hover{
    cursor: pointer;
    text-decoration: underline;
}

